<!DOCTYPE html>
<html>
  <head>
    <title>Doorjunk</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= home_index_path %>">DoorJunk.com</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="<%= @current_page === 'index' ? 'active' : '' %>" ><%= link_to "Home", home_index_path %></li>
          <li class="<%= @current_page === 'products' ? 'active' : '' %>" ><%= link_to "Products", home_products_path %></li>
          <li class="<%= @current_page === 'about' ? 'active' : '' %>" ><%= link_to "About", home_about_path %></li>
          <li class="<%= @current_page === 'takeAction' ? 'active' : '' %>" ><%= link_to "Take Action", home_takeAction_path %></li>
          <li class="<%= @current_page === 'faq' ? 'active' : '' %>" ><%= link_to "FAQ", home_faq_path %></li>
          <li class="<%= @current_page === 'contact' ? 'active' : '' %>" ><%= link_to "Contact", home_contact_path %></li>
          <li class="<%= @current_page === 'cart' ? 'active' : '' %>" ><%= link_to "Cart", home_cart_path %></li>
        </ul>
      </div>
    </nav>
      <%= yield %>
    </div>
  </body>
</html>
